default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password: password
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: code_mentor_development

test:
  <<: *default
  database: code_mentor_test

production:
  url: <%= ENV["DATABASE_URL"] %>

